<!--

Launches SHSA demonstration.

Needs pioneer_teleop and additional_msgs. Source the workspace containing
general-ros-modules.

2017-09-25
Denise Ratasich

-->

<launch>
  <!-- hostname of your notebook -->
  <arg name="notebook" default="nils" />
  <!-- default hostname of the robot -->
  <arg name="robot" default="daisy" />
  <!-- default hostname of the robot's pi -->
  <arg name="robot-pi" default="daisy-pi" />

  <!-- machines -->
  <machine name="notebook" address="$(arg notebook)" default="true"/>
  <machine name="robot" address="$(arg robot)"
	   env-loader="/opt/ros/indigo/env.sh" />
  <machine name="robot-pi" address="$(arg robot-pi)"
	   env-loader="/opt/ros/kinetic/env_pi.bash" />

  <!-- p2os driver -->
  <node machine="robot" ns="p2os" name="p2os_driver"
	pkg="p2os_driver" type="p2os_driver"
	output="screen">
    <param name="port" value="/dev/ttyTHS1" /> <!-- interface to p2os-uc -->
    <param name="use_sonar" value="False" />
    <param name="pulse" value="1.0" /> <!-- turn annoying beep of -->
  </node>

  <node name="teleop" pkg="pioneer_teleop" type="keyboard" output="screen" />

  <!-- enable motors (this node will quit after 3s) -->
  <node name="rostopic_pub_enable_motors"
	pkg="rostopic" type="rostopic"
	args="pub /p2os/cmd_motor_state p2os_msgs/MotorState 1 -1" />

</launch>
